.green {
  background-color: rgb(100, 237, 63);
  text-align: center;
  color: white;
  font-size: medium;
  font-weight: bolder;
  padding-bottom: 0.7em;
  width: 100%;
  border: 2px solid rgb(9, 100, 18);
  padding-top: 0.7em;


}

.blue {
  background-color: pink;
  text-align: center;
  border: 1px solid black;
  
}

.table {
  
  text-align: center;
  border: 1px solid black;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.brdr {
  border: 1px solid black;
margin-left: 8.33%;
 

}

#passPic {
  width: 8rem;
  border: 1px dashed black;
  margin-bottom: 3%;
}

#signPic {
  width: 8rem;
  border: 1px dashed black;
  margin-bottom: 10%;

}

#overRider {
  margin-bottom: 1.5%;
}
.bolder{
  font-weight: bold;
}
.note
{
  font-weight: bold;
  font-size: larger;
  color: rgb(210, 55, 55);
  text-decoration: underline;
}

.topRow
{
  font-weight: bold;
  color: antiquewhite;
  background-color: darkcyan ;
  font-size: 1.3vw;
}
.content{
  height:1%;
}
.remarks{
  width: 96%;
}
.table2 {
  
  text-align: center;
  border: 1px solid black;
  
}
.checkbox
{
zoom: 1.3;
}
#viewAppl
{ background-color: orange;
  color: aliceblue;
  font-weight:bold;
  margin:1% 0%;
}
.docButn{
  background-color:rgb(50, 121, 182);
  color:white;
  border: 1px solid black;
  cursor: pointer;
  
}
#botTable
{background-color: black;
  width:100%;
  color:white;
  font-weight: bold;
  text-align: center;
  padding: 1% 0%;

}
#botContent
{background-color:rgb(255,152, 0);
  width:100%;
  font-weight: bold;
  text-align: center;
  padding: 1% 0%;

}
#decision{
  width:40%;
  text-align: center;
  padding: 0.2% 0%;

}
.vrfyButn{
background-color:red;
color: white;
font-weight: bold;
}
#vrfyGrid{
  width:83.5%;
}