.outer-box {
    
    border: 2px solid rgb(56, 124, 180);;
    height: 380px;
    width: 600px;
    margin: 3rem;
    margin-left: 25rem;
  }
  
 .required:after {
    content:" *";
    color: red;
  }

.header{
      background-color: rgb(56, 124, 180);
	  height: 1.5rem;
	  color: white;
	  align-items: left;
	  padding: 0.5rem;
      padding-left: 1rem;
      margin: -1px;
  }

.form{
	padding: 2rem;
	
}
.form_elem{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.form_elem .input-field{
	margin-left: 1rem;
	width: 60%;
}
.captcha{
	margin: 1.5rem;
}
.activate-btn{
    height: 2.5em;
    width: 6em;
    background-color: rgb(56, 124, 180);
    color: white;
}



.heading{
    font-weight: bold;
    padding: 1rem;

}
.input-field{
    height: 20px;
}
.select-field{
    height:30px;
    width: 60%;
    margin-left: 1rem;
}
.activate-btn{
    margin-left: 13rem;
}
